<header>
    <div class="navbar-container">
        <h2>Members Only</h2>
    
    <% if (locals.user) {%>
        <div class="user-links-container">
            <a href="/user/member/<%= user.id %>">Clubhouse</a>
            <a href="/user/admin/<%= user.id %>">Become an Admin</a>
            <a href="/user/logout" class="logout-header-link">Log Out</a>
        </div>
        
        
    <% } %>
    </div>
</header>