<header>
    <div class="navbar-container">
        Hi there  
    
    <% if (locals.user) {%>
        <div class="user-links-container">
            <a href="/user/member/<%= user.id %>">Clubhouse</a>
            <a href="/user/logout" class="logout-header-link">Log Out</a>
        </div>
        
        
    <% } %>
    </div>
</header>