<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<body>
    <!-- include header -->
    <%- include('partials/navbar.ejs') %>
    <section class="home-menu"></section>
    <% if (locals.user) {%>
        <h1 class="user-greet">Welcome back <%= user.first_name %>!</h1>
        <div class="home-prompt-container">
            <a href="/post/posts">View your messages -></a>
        </div>
    <% } else {%>
       
            <h2 class="welcome-header">Welcome to my site</h2>
            <a href="/user/login">Sign In</a>
            <a href="/user/new">Sign Up</a>
    <% } %>
    </section> 
    
    <!-- otherwise, show the main messageboard -->
</body>
</html>