<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/member-admin-form.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navbar.ejs', { user: user }) %>

    <section class="membership-section">
        <% if (locals.memberSuccess) {%>
            <div class="member-success-prompt">
                <h2>Congrats!  You're part of the club</h2>
                <a href="/" class="member-success-back">Go Back Home</a>
            </div>
        <% } else {%>
            <div class="member-form-container">
                <h1 class="clubhouse-header">Join the clubhouse</h1>
                <p>
                    <span class="note-span">Note: </span>
                    Members of the clubhouse have the ability to see all posters' 
                    info, and time of messages
                </p>
                <form action="/user/member/:userId" method="POST">
                    <label for="clubhouseCode">Club password:</label>
                    <input type="text" name="clubhouseCode" id="clubhouseCode" required>

                    <button class="join-club-btn">Join</button>
                </form>
                <div class="repeat-user-container <%= repeatMember ? 'visible' : '' %> " >
                    <h3>You are already a member of the clubhouse!</h3>
                </div>
                <div class="err-container">
                    <%- include('partials/errors.ejs') %>  
                </div>
            </div>
            
        <% } %>
    </section>
    
</body>
</html>