<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new-post-form.css">
    <title>Document</title>
</head>
<body>
    <section class="add-post-container">
        <h2 class="add-post-header">Write something</h2>
        <form action="/post/newPost/<%= user.id %>" method="POST">
            <label for="post-header">Message Header</label>
            <input type="text" name="post-header" id="post-header" required>

            <label for="post-content">Message</label>
            <input type="text" name="post-content" id="post-content" required>

            <button>Post</button>
        </form>
    </section>
</body>
</html>