<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new-post-form.css">
    <title>Document</title>
</head>
<body>
    <section class="add-post-container">
        <form action="/post/newPost/<%= user.id %>">
            <!-- 8/25 TMW: Continue filling this out, connect to controller function -->
        </form>
    </section>
</body>
</html>