<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/new-post-form.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navbar.ejs', { user: user }) %>
    <section class="add-post-section">
        <div class="add-post-container">
            <h2 class="add-post-header">Write Something</h2>
            <form action="/post/newPost/<%= user.id %>" method="POST" class="new-post-form">
                <label for="postHeader">Message Header</label>
                <input type="text" name="postHeader" id="postHeader" required>

                <label for="postContent" class="message-label">Message</label>
                <textarea type="text" name="postContent" id="postContent" 
                    rows="5" cols="80" required></textarea>

                <button class="post-message-btn">Post</button>
            </form>
            <div class="err-container">
                <%- include('partials/errors.ejs') %>  
            </div>
        </div>
        
    </section>
</body>
</html>