<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new-post-form.css">
    <title>Document</title>
</head>
<body>
    <section class="add-post-container">
        <h2 class="add-post-header">Write something</h2>
        <form action="/post/newPost/<%= user.id %>" method="POST">
            <label for="postHeader">Message Header</label>
            <input type="text" name="postHeader" id="postHeader" required>

            <label for="postContent">Message</label>
            <textarea type="text" name="postContent" id="postContent" 
                rows="5" cols="80" required></textarea>

            <button>Post</button>
        </form>

        <div class="err-container">
            <%- include('partials/errors.ejs') %>  
        </div>
    </section>
</body>
</html>