<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><% title %></title>
</head>
<body>
    <%- include('partials/navbar.ejs', { user: user }) %>
    <section class="posts-page-container">
        <a href="/post/newPost/<%= user.id %>" class="add-post-link">Write a Message</a>
        <h1>What people are saying...</h1>
        <!-- iterate through entire posts table, display each one,
        in order of when they were created -->

    </section>
    

</body>
</html>