.html, body {
    margin: 0px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: lightseagreen;
    padding: 20px;
    margin-bottom: 30px;
}

.user-links-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logout-header-link {
    margin-left: 100px;
}

.err-container {
    color: red;
}