.html, body {
    margin: 0px;
}

body {
    position: relative;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    background-color: #155263;
    padding: 20px;
    margin-bottom: 30px;
    color: white;
}

.navbar-container > h2 {
    margin: 8px;
}

.user-links-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    text-decoration: none;
}

.user-links-container > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logout-header-link {
    margin-left: 80px;
}

.err-container {
    color: red;
}