.html, body {
    margin: 0px;
}

body {
    position: relative;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    background-color: #155263;
    padding: 20px;
    margin-bottom: 30px;
    color: white;
}

.navbar-container > h2 {
    margin: 8px;
}

.user-links-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    text-decoration: none;
}

.user-links-container > a {
    position: relative;
    display: inline-block;
    
    font-weight: bold;
    overflow: hidden;
    background: 
        linear-gradient(to right, rgb(255, 111, 60), rgb(255, 111, 60) 50%, whitesmoke 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    text-decoration: none;
    color: white;

    transition: background-position 180ms ease-in;

}

.user-links-container > a:hover {
    background-position: 0 100%;
}

.logout-header-link {
    margin-left: 80px;
}

.err-container {
    color: red;
}